services:
    # MySQL Database doc: https://hub.docker.com/_/mysql
    mysql:
        image: mysql:9
        container_name: {{ mysql_container_name }}
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
            MYSQL_DATABASE: {{ mysql_database }}
            MYSQL_USER: {{ mysql_user }}
            MYSQL_PASSWORD: {{ mysql_password }}
        expose:
            - "{{ mysql_port }}"
        networks:
            - cloud1_network
        volumes:
            - mysql_data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "{{ mysql_user }}", "-p{{ mysql_password }}"]
            interval: 30s
            retries: 5
            start_period: 30s
            timeout: 10s

    # WordPress doc: https://hub.docker.com/_/wordpress
    # Additional config: https://github.com/docker-library/wordpress/pull/142
    wordpress:
        image: wordpress:6
        container_name: {{ wordpress_container_name }}
        restart: always
        networks:
            - cloud1_network
        expose:
            - "{{ wordpress_port }}"
        depends_on:
            mysql:
                condition: service_healthy
                restart: true
        volumes:
            - wordpress_data:/var/www/html/
            - ./logs/wordpress/wordpress:/var/log/wordpress # Optional: for logging
            - ./logs/wordpress/apache2:/var/log/apache2 # Optional: for logging
        environment:
            WORDPRESS_DB_HOST: mysql:{{ mysql_port }}
            WORDPRESS_DB_USER: {{ mysql_user }}
            WORDPRESS_DB_PASSWORD: {{ mysql_password }}
            WORDPRESS_DB_NAME: {{ mysql_database }}
            WORDPRESS_CONFIG_EXTRA: |
                define( 'WP_HOME', 'http://{{ project_domain }}/wordpress' );
                define( 'WP_SITEURL', 'http://{{ project_domain }}/wordpress' );

    # phpMyAdmin doc: https://hub.docker.com/_/phpmyadmin
    phpmyadmin:
        image: phpmyadmin:5
        container_name: {{ phpmyadmin_container_name }}
        restart: always
        environment:
            PMA_HOST: mysql
            PMA_USER: {{ mysql_user }} # Only for auto-login during development
            PMA_PASSWORD: {{ mysql_password }} # Only for auto-login during development
            APACHE_PORT: "{{ phpmyadmin_port }}"
            PMA_ABSOLUTE_URI: "http://{{ project_domain }}/myadmin"
        networks:
            - cloud1_network
        expose:
            - "{{ phpmyadmin_port }}"
        depends_on:
            - mysql

    # Nginx doc: https://hub.docker.com/_/nginx
    nginx:
        image: nginx:1.29.0
        container_name: {{ nginx_container_name }}
        restart: always
        networks:
            - cloud1_network
        ports:
            - "{{ nginx_port }}:80"
        volumes:
            # - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./logs/nginx:/var/log/nginx 
        depends_on:
            - wordpress

networks:
    cloud1_network:
        driver: bridge

volumes:
    mysql_data:
    wordpress_data: